body {
  font-family: Arial, sans-serif;
}

.hero {
  background: url("../images/tigray-hero.jpg") no-repeat center center/cover;
  padding: 100px 20px;
}

#destinationCards .card {
  margin-bottom: 20px;
  cursor: pointer;
  transition: transform 0.2s;
}

#destinationCards .card:hover {
  transform: scale(1.03);
}

.destination-link:hover {
  text-decoration: underline;
}
#mapContainer {
  width: 100%;
}
